<html>

<head>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <meta charset="UTF-8">
  <style type="text/css">
    .ex-search {
      position: relative;
    }

    .ex-search:before {
      content: ' ';
      position: absolute;
      width: 12px;
      height: 12px;
      border: 1px solid #666;
      border-radius: 30px;
      box-shadow: inset 1px 1px 10px rgba(0, 0, 0, .3);
    }

    .ex-search::after {
      content: ' ';
      position: absolute;
      width: 7px;
      height: 2px;
      background: #666;
      border-radius: 5px 0 0 5px;
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      transform: rotate(225deg);
    }

    .ex-search:before {
      top: 0;
      left: 0;
    }

    .ex-search:after {
      right: -15px;
      bottom: 0px;
    }
  </style>
  <title>课程主页</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">交大知乎</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="/login/index/">主页<span class="sr-only">(current)</span></a></li>
          <li><a href="/course/">课程</a></li>
          <li><a href="/bbs/">社区</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about/">{{ request.session.user_name }}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/likes/">我的点赞</a></li>
              <li><a href="/posts/">我的发布</a></li>
              <li><a href="/comments/">我的评论</a></li>
              <li><a href="/mailbox/">我的信箱</a></li>
              <li><a href="/follows/">我的关注</a></li>
              <li><a href="/followers/">关注我的</a></li>
            </ul>
          </li>
          <li><a href="/login/logout/">登出</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!--基础导航栏-->

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#file" role="tab" data-toggle="tab">资料列表</a></li>
    <li role="presentation"><a href="#course" role="tab" data-toggle="tab">课程列表</a></li>
    <li role="presentation"><a href="#teacher" role="tab" data-toggle="tab">教师列表</a></li>
    <form class="navbar-form navbar-left" method='get' action="/search/">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="搜索课程/教师/资料/帖子" name='q'>
      </div>
      <button type="submit" class="btn btn-default">
        <span class="ex-search"></span>
        &nbsp&nbsp&nbsp&nbsp&nbsp搜索
      </button>
    </form>
    <div class="text-right">
      <a href="/course/upload/">
        <button type="button" class="btn btn-default">
          上传资料
        </button>
      </a>
      &nbsp&nbsp&nbsp&nbsp
    </div>
  </ul>
  <div class="tab-content">


    <div class="tab-pane active" id="file" role="tabpanel">
      {% if file_list %}
      <ul class="list-group">
        {% for file in file_list %}
        <li class="list-group-item">
          <span class="badge" style="background-color:#4169E1">
            <h5>下载量：{{ file.downloads }}</h5>
          </span>
          <span class="badge" style="background-color:#4169E1">
            <h5>上传者：<a href="/info/{{ file.user.sno }}" style="color:#E0FFFF">{{ file.user.name }}</a></h5>
          </span>
          <span class="badge" style="background-color:#4169E1">
            <h5>课程：<a href="/course/course/{{ file.course.cno }}/" style="color:#E0FFFF">{{ file.course.name }}</a></h5>
          </span>
          <h4><b><span style="color:red">题目：</span>{{ file.title }}</b></h4>
          <p><b>简介：{{ file.introduction }}</b></p>

          <p style="color:#696969">文件名：{{ file.file }}</p>
          <p style="color:#696969">上传时间：{{ file.create_time }}</p>

          <div class="text-right">
            {% if user not in file.like_users.all %}
            <form action="/course/like_file/{{ file.id }}" method="post" style="display: inline;;">
              {% csrf_token %}
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                {{file.likes}}
              </button>
            </form>
            {% else %}
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color:red"></span>
              {{file.likes}}
            </button>
            {% endif %}

            <a href="/course/download/{{ file.id }}">
              <button type="submit" formaction="/course/download/{{ file.id }}" class="btn btn-default">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                点击下载
              </button>
            </a>

            {% ifequal file.user user %}
            <a href="/course/delete_file/{{ file.id }}">
              <button type="submit" formaction="/course/delete_file/{{ file.id }}" class="btn btn-default">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                删除
              </button>
            </a>
            {% endifequal %}
          </div>
        </li>

        {% endfor %}
      </ul>
      {% else %}
      <p>No files are available.</p>
      {% endif %}


      <div id="pages" class="text-center">
        <nav>
          <ul class="pagination">
            <li class="step-links">
              {% if file_list.has_previous %}
              <a class='active' href="?page={{ file_list.previous_page_number }}">上一页</a>
              {% endif %}

              <span class="current">
                Page {{ file_list.number }} of {{ file_list.paginator.num_pages }}</span>

              {% if file_list.has_next %}
              <a class='active' href="?page={{ file_list.next_page_number }}">下一页</a>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>

    </div>


    <div class="tab-pane" id="course" role="tabpanel">
      {% if course_list %}
      <ul class="list-group">
        {% for course in course_list %}
        <li class="list-group-item">
          <h4>
            <b>
              <span class="badge" style="background-color:#4169E1">{{ course.cno }}</span>&nbsp&nbsp
              <a href="/course/course/{{ course.cno }}/">{{ course.name }}</a>
            </b>
          </h4>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No courses are available.</p>
      {% endif %}
    </div>


    <div class="tab-pane" id="teacher" role="tabpanel">
      {% if teacher_list %}
      <ul class="list-group">
        {% for teacher in teacher_list %}
        <li class="list-group-item">
          <h4>
            <b>
              <span class="badge" style="background-color:#2E8B57">{{ teacher.tno }}</span>&nbsp&nbsp
              <a href="/course/teacher/{{ teacher.tno }}/">{{ teacher.name }}</a>
            </b>
          </h4>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No teachers are available.</p>
      {% endif %}
    </div>


  </div>
  </div>
  <!--标签页-->
  <!--列表组-->


</body>

</html>
