<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>帖子详情</title>
</head>

<body>
  <h3>标题： {{ post.title }}</h3>
  </br>
  <h3>作者： <a href="/info/{{ post.author.sno }}">{{ post.author.name }}</a></h3>
  <h3>创建时间: {{ post.create_time }}</h3>
  <h3>内容: {{ post.content }}</h3>
  <h3>类别：{{ post.category }}</h3>
  <h3>标签:
    <ul>
      {% for tag in tags %}
      <li> {{ tag }} </li>
      {% endfor %}
    </ul>
  </h3>
  <h3>点赞量：{{post.likes}}</h3>
  {% if sign %}
  <a href="/bbs/edit/{{ post.id }}">编辑</a><br>
  {% endif %}
  <a href="/bbs/comment/{{ post.id }}/0">评论</a><br>
  <a href="/bbs/">返回帖子主页</a>
  <form action="/bbs/like/{{ post.id }}" method="post">
    {% csrf_token %}
    <input type="submit" value="点赞">
  </form>
  {{ message }}

  <h3>评论列表</h3>
  <ul>
     {% for comment in comments %}
         {% if not comment.root %}
         <li>评论者：<a href="/info/{{ comment.name.sno }}">{{ comment.name.name }}</a></li>
         <li>评论时间：{{ comment.created }}</li>
         <li>评论内容：{{ comment.content }}</li>
         <a href="/bbs/comment/{{ post.id }}/{{ comment.id }}">回复</a>
            {% ifequal user.sno comment.name.sno %}
            <form action="/bbs/delete/{{ comment.id }}" method="post">
             {% csrf_token %}
              <input type="submit" value="删除">
            </form>
            {% endifequal %}
             <h4>回复列表</h4>
             {% for reply in comment.root_comment.all %}
                 <div class="reply">
                     <span><a href="/info/{{ reply.name.sno }}">{{ reply.name.name }}</a></span>
                     <span>({{ reply.created|date:"Y-m-d H:i:s" }})</span>
                     <span>回复</span>
                     <span><a href="/info/{{ reply.reply_to.sno }}">{{ reply.reply_to.name }}</a>：</span>
                     <div id="comment_{{ reply.pk }}">
                       {{ reply.content|safe }}
                     </div>
                     {% ifequal user.sno reply.name.sno %}
                         <form action="/bbs/delete/{{ reply.id }}" method="post">
                          {% csrf_token %}
                           <input type="submit" value="删除">
                         </form>
                     {% endifequal %}
                     <a href="/bbs/comment/{{ post.id }}/{{ reply.id }}">回复</a>
                 </div>
             {% endfor %}
         {% endif %}
     {% endfor %}
   </ul>


</body>

</html>
