<!doctype html>
<html lang='en'>

<head>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>个人信息</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">交大知乎</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="/login/index/">主页<span class="sr-only">(current)</span></a></li>
          <li><a href="/course/">课程</a></li>
          <li><a href="#">社区</a></li>
          <li><a href="/bbs/">帖子</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about/">{{ request.session.user_name }}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">关注</a></li>
              <li><a href="#">帖子</a></li>
              <li><a href="#">私信</a></li>
              <li><a href="#">评论</a></li>
            </ul>
          </li>
          <li><a href="/login/logout/">登出</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!--基础导航栏-->


  <br /><br /><br /><br />
  <div class="text-center">
    <h1>个人资料</h1>
  </div>
  <br /><br />

  <!--标题-->


  <div class="row container-fluid">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="text-center"><b>学号</b></td>
            <td class="text-center"> {{request.session.user_sno}}</td>
            <td rowspan="7" align="center">
              <img id="photo" src="{{ request.session.user_photo_url }}" alt="头像"><br><br>
              <form action="/editphoto/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if sign_photo %}
                <input type="file" name="photo" value="修改头像">
                <input type="submit" value="提交">&nbsp
                <button type="submit" formaction="/about/">返回</button>
                {% else %}
                <input type="submit" value="修改头像">
                {% endif %}
              </form>
            </td>
          </tr>
          <tr>
            <td class="text-center"><b>姓名</b></td>
            <td class="text-center"> {{request.session.user_name}}</td>
          </tr>
          <tr>
            <form action="/editnickname/" method="post">
              {% csrf_token %}
              <td class="text-center"><b>昵称</b></td>
              <td class="text-center">
                {% if sign_nick %}
                <label>
                  <input type="text" name="nickname">
                </label>
                <input type="submit" value="提交">&nbsp
                <button type="submit" formaction="/about/">返回</button>
                {% else %}
                {{request.session.user_nickname}}
                &nbsp&nbsp<input type="submit" value="修改昵称">
                {% endif %}
              </td>
            </form>
          </tr>
          <tr>
            <td class="text-center"><b>性别</b></td>
            <td class="text-center"> {{request.session.user_sex}}</td>
          </tr>
          <tr>
            <td class="text-center"><b>学院</b></td>
            <td class="text-center"> {{request.session.user_institute}}</td>
          </tr>
          <tr>
            <td class="text-center"><b>专业</b></td>
            <td class="text-center"> {{request.session.user_major}}</td>
          </tr>
          <tr>
            <form action="/editemail/" method="post">
              {% csrf_token %}
              <td class="text-center"><b>邮箱</b></td>
              <td class="text-center">
                {% if sign_email %}
                <label>
                  <input type="text" name="email">
                </label>
                <input type="submit" value="提交">&nbsp
                <button type="submit" formaction="/about/">返回</button>
                {% else %}
                {{request.session.user_email}}
                &nbsp&nbsp<input type="submit" value="修改邮箱">
                {% endif %}
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-2"></div>
  </div>

  <!--个人资料表格-->


  <br />
  <div class="text-center">
    <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal">修改密码</button>
  </div>

  <!--按钮-->


  <!-- 模态框（Modal） -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            修改密码
          </h4>
          <div class="text-center">
            <form action="/editpwd/" method="post">
              {% csrf_token %}
              <br /><br />

              <div class="form-group">
                <label for="lastname" class="col-sm-3 control-label">请输入原密码</label>
                <div class="col-sm-7">
                  <input type="password" name="pwd0" required="required" placeholder="Old Password">
                  </input>
                </div>
              </div>

              <br /><br />

              <div class="form-group">
                <label for="lastname" class="col-sm-3 control-label">请输入新密码</label>
                <div class="col-sm-7">
                  <input type="password" name="pwd1" required="required" placeholder="New Password">
                  </input>
                </div>
              </div>

              <br /><br />

              <div class="form-group">
                <label for="lastname" class="col-sm-3 control-label">请再次输入新密码</label>
                <div class="col-sm-7">
                  <input type="password" name="pwd2" required="required" placeholder="New Password (Again)">
                  </input>
                </div>
              </div>

              <br /><br />
              <input type="submit" value="提交">
            </form>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>
  <!--修改密码-->

  <div class="text-center">
    <br>
    <h4 style="color:red"><b>{{message}}</b></h4><br>
  </div>
  <!--显示密码修改信息-->
</body>

</html>
