<html>

<head>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>个人信息</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">交大知乎</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="/login/index/">主页<span class="sr-only">(current)</span></a></li>
          <li><a href="/course/">课程</a></li>
          <li><a href="#">社区</a></li>
          <li><a href="/bbs/">帖子</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about/">{{ request.session.user_name }}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">关注</a></li>
              <li><a href="#">帖子</a></li>
              <li><a href="#">私信</a></li>
              <li><a href="#">评论</a></li>
            </ul>
          </li>
          <li><a href="/login/logout/">登出</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!--基础导航栏-->


  <p>学号：{{request.session.user_sno}}</p><br>
  <p>姓名：{{request.session.user_name}}</p><br>

  <form action="/editnickname/" method="post">
    {% csrf_token %}
    <p>昵称：
      {% if sign_nick %}
      <label>
        <input type="text" name="nickname">
      </label>
      <input type="submit" value="提交">
      {% else %}
      {{request.session.user_nickname}}</p>
    <input type="submit" value="修改昵称">
    {% endif %}
  </form>

  <p>性别：{{request.session.user_sex}}</p><br>
  <p>学院：{{request.session.user_institute}}</p><br>
  <p>专业：{{request.session.user_major}}</p><br>

  <form action="/editemail/" method="post">
    {% csrf_token %}
    <p>邮箱：
      {% if sign_email %}
      <label>
        <input type="text" name="email">
      </label>
      <input type="submit" value="提交">
      {% else %}
      {{request.session.user_email}}</p>
    <input type="submit" value="修改邮箱">
    {% endif %}
  </form>

  <form action="/editpwd/" method="post">
    {% csrf_token %}
    {% if sign_pwd %}
    <label>请输入原来的密码：
      <input type="password" name="pwd0">
    </label><br>
    <label>请输入密码：
      <input type="password" name="pwd1">
    </label><br>
    <label>请再次输入密码：
      <input type="password" name="pwd2">
    </label><br>
    <input type="submit" value="提交"><br>
    <p>{{message}}</p>
    {% else %}
    <input type="submit" value="修改密码">
    {% endif %}
  </form>

  <!--主界面-->

  <ol class="breadcrumb">
    <p>本项目源码受 <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>开源协议保护，文档受 <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a> 开源协议保护。</p>
  </ol>

</body>

</html>
