<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>我的评论</title>
</head>

<body>
  <h3>我的评论</h3>
  <h4>总共有{{length}}个我评论的帖子，按评论时间排序如下：</h4>

  <div class="table-head">
    <table>
      <thead>
        <tr>
          <th>帖子</th>
          <th>创建时间</th>
          <th>内容</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="table-body">
    <table>
      <tbody>
        {% for comment in comments %}
        <tr>
          <td><a href="/bbs/{{ comment.post.id }}">{{ comment.post.title }}</a></td>
          <td>{{ comment.created }}</td>
          <td>{{ comment.content }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {# 实现分页标签的代码 #}
  {# 这里使用 bootstrap 渲染页面 #}
  <div id="pages" class="text-center">
    <nav>
      <ul class="pagination">
        <li class="step-links">
          {% if comments.has_previous %}
          <a class='active' href="?page={{ comments.previous_page_number }}">上一页</a>
          {% endif %}

          <span class="current">
            Page {{ comments.number }} of {{ comments.paginator.num_pages }}</span>

          {% if comments.has_next %}
          <a class='active' href="?page={{ comments.next_page_number }}">下一页</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
  <a href="/login/index">返回主页</a>
</body>

</html>
