<!DOCTYPE html>
<html lang="en">

<head>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>我的关注</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">交大知乎</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="/login/index/">主页<span class="sr-only">(current)</span></a></li>
          <li><a href="/course/">课程</a></li>
          <li><a href="/bbs/">社区</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about/">{{ request.session.user_name }}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/likes/">我的点赞</a></li>
              <li><a href="/posts/">我的发布</a></li>
              <li><a href="/comments/">我的评论</a></li>
              <li><a href="/mailbox/">我的信箱</a></li>
              <li><a href="/follows/">我的关注</a></li>
              <li><a href="/followers/">关注我的</a></li>
            </ul>
          </li>
          <li><a href="/login/logout/">登出</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!--基础导航栏-->

  <h3>&nbsp&nbsp我的关注</h3>

  {% if follow_set %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title" style="font-size: small;">总共有{{length}}个我关注的人，按粉丝数排序如下：</p>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>学院</th>
            <th>粉丝数</th>
          </tr>
        </thead>
        <tbody>
          {% for follow in follow_set %}
          <tr>
            <td>{{ follow.sno }}</td>
            <td><a href="/info/{{ follow.sno }}">{{ follow.name }}</a></td>
            <td>{{ follow.get_sex_display }}</td>
            <td>{{ follow.get_institute_display }}</td>
            <td>{{ follow.fans }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  {# 实现分页标签的代码 #}
  {# 这里使用 bootstrap 渲染页面 #}
  <div id="pages" class="text-center">
    <nav>
      <ul class="pagination">
        <li class="step-links">
          {% if follow_set.has_previous %}
          <a class='active' href="?page={{ follow_set.previous_page_number }}">上一页</a>
          {% endif %}

          <span class="current">
            Page {{ follow_set.number }} of {{ follow_set.paginator.num_pages }}</span>

          {% if follow_set.has_next %}
          <a class='active' href="?page={{ follow_set.next_page_number }}">下一页</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
  {% else %}
  &nbsp&nbsp&nbsp&nbsp还没有我关注的用户
  {% endif %}
</body>

</html>
