<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title>我的信箱</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">交大知乎</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="/login/index/">主页<span class="sr-only">(current)</span></a></li>
          <li><a href="/course/">课程</a></li>
          <li><a href="/bbs/">社区</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about/">{{ request.session.user_name }}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/likes/">我的点赞</a></li>
              <li><a href="/posts/">我的发布</a></li>
              <li><a href="/comments/">我的评论</a></li>
              <li><a href="/mailbox/">我的信箱</a></li>
              <li><a href="/follows/">我的好友</a></li>
            </ul>
          </li>
          <li><a href="/login/logout/">登出</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--基础导航栏-->

  <h3>&nbsp&nbsp我的信箱</h3>

  <div class="panel panel-default">
    <div class="panel-heading">
      {% if messages %}
      <p class="panel-title" style="font-size: small;">总共有{{length}}个我收到的私信，按发信时间排序如下：</p>
    </div>
    <div class="panel-body">
      {% for message in messages %}
      <div>
        <button type="button" class="list-group-item">
          <b>发信人：</b><a href="/info/{{ message.sender.sno }}">{{ message.sender.name }}</a>&nbsp&nbsp&nbsp&nbsp<b>主题：</b>{{ message.title }}
          <p style="word-break: break-all;">{{ message.content }}</p>
          <div style="color:gray">{{ message.created }}</div>
        </button>
      </div>
      {% endfor %}
    </div>
    
    {# 实现分页标签的代码 #}
    {# 这里使用 bootstrap 渲染页面 #}
    <div id="pages" class="text-center">
      <nav>
        <ul class="pagination">
          <li class="step-links">
            {% if messages.has_previous %}
            <a class='active' href="?page={{ messages.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current">
              Page {{ messages.number }} of {{ messages.paginator.num_pages }}</span>

            {% if messages.has_next %}
            <a class='active' href="?page={{ messages.next_page_number }}">下一页</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
    {% else %}
    还没有收到来信
    {% endif %}
  </div>

</body>

</html>
