<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>我的信箱</title>
</head>

<body>
  <h3>我的信箱</h3>
  <h4>总共有{{length}}个我收到的私信，按发信时间排序如下：</h4>

  <div class="table-head">
    <table>
      <thead>
        <tr>
          <th>发送者</th>
          <th>题目</th>
          <th>内容</th>
          <th>创建时间</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="table-body">
    <table>
      <tbody>
        {% for message in messages %}
        <tr>
          <td><a href="/info/{{ message.sender.sno }}">{{ message.sender.name }}</a></td>
          <td>{{ message.title }}</td>
          <td>{{ message.content }}</td>
          <td>{{ message.created }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {# 实现分页标签的代码 #}
  {# 这里使用 bootstrap 渲染页面 #}
  <div id="pages" class="text-center">
    <nav>
      <ul class="pagination">
        <li class="step-links">
          {% if messages.has_previous %}
          <a class='active' href="?page={{ messages.previous_page_number }}">上一页</a>
          {% endif %}

          <span class="current">
            Page {{ messages.number }} of {{ messages.paginator.num_pages }}</span>

          {% if messages.has_next %}
          <a class='active' href="?page={{ messages.next_page_number }}">下一页</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
  <a href="/login/index">返回主页</a>
</body>

</html>
